$veryDarkBlueMainBackground: hsl(233, 47%, 7%);
$darkDesaturatedBlueCardBackground: hsl(244, 38%, 16%);
$softVioletAccent: hsl(277, 64%, 61%);
$whiteMainHeadingStats: hsl(0, 0%, 100%);
$slightlyTransparentWhiteMainParagraph: hsla(0, 0%, 100%, 0.75);
$slightlyTransparentWhiteStatHeadings: hsla(0, 0%, 100%, 0.6);
