@import './colors';

body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background-color: $veryDarkBlueMainBackground;
}

.card {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	max-width: 375px;
	border-radius: 15px;
	background-color: $darkDesaturatedBlueCardBackground;
	overflow: hidden;

	&__picture {
		width: 100%;
		height: 300px;
		background-color: hsl(277, 64%, 61%);
	}
	&__img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		mix-blend-mode: multiply;
		opacity: 0.8;
	}

	&__body {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding: 25px;
	}
	&__name {
		text-align: center;
		color: $whiteMainHeadingStats;
		font-family: 'Inter', sans-serif;
		span {
			color: $softVioletAccent;
		}
	}
	&__text {
		font-size: 15px;
		font-family: 'Lexend Deca', sans-serif;
		text-align: center;
		color: $slightlyTransparentWhiteMainParagraph;
	}

	&__data {
		color: $whiteMainHeadingStats;
		font-size: 25px;
		font-family: 'Inter', sans-serif;
		font-weight: 700;
		text-align: center;
	}
	&__dataText {
		font-family: 'Lexend Deca', sans-serif;
		font-size: 15px;
		text-align: center;
		text-transform: uppercase;
		margin-top: -15px;
		color: $slightlyTransparentWhiteMainParagraph;
	}
}

.attribution {
	margin-top: 25px;
	font-size: 11px;
	text-align: center;
	color: #fff;
	font-size: 1em;
	a {
		color: hsl(228, 45%, 44%);
	}
}

@media (min-width: 992px) {
	.card {
		flex-direction: row-reverse;
		max-width: 1000px;
		max-height: 405px;

		&__picture {
			width: 100%;
			height: 405px;
		}
		&__body {
			padding: 30px;
		}
		&__name {
			text-align: left;
			font-size: 2.3em;
		}
		&__text {
			font-size: 1em;
			text-align: left;
		}
		&__dataBody {
			display: flex;
			flex-direction: row;
			justify-content: flex-start;
			align-items: flex-start;
			padding: 0;
			margin: 0;
			width: 100%;
		}
		&__data {
			text-align: left;
			margin-right: 3em;
		}
		&__dataText {
			text-align: left;
			margin-right: 3em;
		}
	}
}
